@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f0f0f;
  --foreground: #f9f9f9;
  --secondary: #1a1a1a;
  --border: #333;
  --input: #222;
}

[data-theme="light"] {
  --background: #f9f9f9;
  --foreground: #0f0f0f;
  --secondary: #fff;
  --border: #ddd;
  --input: #eee;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Scrollbar track (the background) */
::-webkit-scrollbar-track {
  background: var(--secondary);
  border-radius: 9999px;
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: var(--border);
  border-radius: 9999px;
  border: 2px solid var(--secondary);
}

/* Hover effect for thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--foreground);
}

/* Optional corner fix for overflowed areas */
::-webkit-scrollbar-corner {
  background: var(--secondary);
}